@if (TempData["Success"] != null)
{
    <div class="alert alert-success" role="alert" id="message">
        @TempData["Success"]
    </div>
}
@if (TempData["Successs"] != null)
{
    <div class="alert alert-success" role="alert" id="message">
        @TempData["Successs"]
    </div>
}