@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class=" row pt-3">
        <div class=" col-6">
            <h2>View categories</h2>
        </div>
        <div class=" col-6 text-end pt-3">
            <a asp-controller="Category" asp-action="Create" class="btn btn-outline-primary col-5  pt-3">
                create new category
                <i class="bi bi-bag-plus-fill"></i>
            </a>
        </div>

    </div>
</div>
    <table class="table table-hover pt-3" style="width:100%">

        <thead>
            <tr class="table-dark">
                <th scope="row"> Item Category</th>
                <th scope="row">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="table-active">

                <td width="40%">@item.Name</td>
                    <td width="=20%">


                    <a asp-controller="Category" asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-sm btn-outline-warning">
                            Edit
                        <i class="bi bi-pen-fill"></i>
                        </a>

                        &nbsp;<!-- معناها اني بحط مسافة ما بينهم -->

                    <a asp-controller="Category" asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-sm btn-outline-danger">
                            Delete
                        <i class="bi bi-trash3-fill"></i>
                        </a>



                    </td>

                </tr>
            }
        </tbody>
    </table>

